[submodule "mba-dsa-aulas"]
	path = learning/data-science/mba-dsa-aulas
	url = git@github.com:ltmleo/mba-dsa-aulas.git
[submodule "learning/golang/full-cycle-tech-week/code"]
	path = learning/golang/full-cycle-tech-week/code
	url = git@github.com:ltmleo/golangtechweek

